<footer class="bg-yellow-200">
  <div
    class="p-8 container max-w-screen-lg mx-auto text-center font-serif markdown"
  >
    <p class="py-2 text-xs">
      {%- SocialIcon "phone", "tel:+15623540638" -%}(562) 364-0638{%-
      endSocialIcon -%}

      <!--  -->

      {%- SocialIcon "dollar", "https://cash.app/$wilmorepantry" -%}Support
      us{%- endSocialIcon -%}

      <!--  -->

      {%- SocialIcon "envelope",
      "mailto:wilmore_pantry@riseup.net?subject=Reaching%20out!"
      -%}wilmore_pantry@riseup.net{%- endSocialIcon -%}
    </p>
  </div>
</footer>
