<footer class="bg-black text-gray-100">
  <div class="p-8 container max-w-screen-lg mx-auto text-center font-serif markdown">
    <p class="py-2 text-xs">
      TMJBGC is an unaffiliated, independent, <a href="/posts/an-independent-JBGC/" class="hover:text-red-400">JBGC</a>.
      <br />
      Website made with Love and Solidarity by <a href="https://laura-is-here.github.io/" target="_blank" rel="noopener noreferer">Laura Gabrielle</a>.
    </p>
  </div>
</footer>
