<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta
    property="og:title"
    content="{{ title or renderData.title or metadata.title }}"
  />
  <meta
    property="og:description"
    content="{{ summary or post.data.summary or page.data.summary }}"
  />
  <meta
    property="og:url"
    content="https://tmjbgc.org{{ post.url or page.url }}"
  />
  <meta property="og:site_name" content="Truckee Meadows John Brown Gun Club" />
  <meta
    property="article:publisher"
    content="https://www.facebook.com/TruckeeMeadowsJBGC/"
  />
  <meta
    property="og:image"
    content="{{ image or post.data.image or page.data.image or metadata.image }}"
  />
  <meta
    property="og:image:secure_url"
    content="{{ image or post.data.image or page.data.image or metadata.image }}"
  />
  <meta name="twitter:card" content="summary" />
  <meta
    name="twitter:description"
    content="{{ summary or post.data.summary or page.data.summary }}"
  />
  <meta
    name="twitter:title"
    content="{{ title or renderData.title or metadata.title }}"
  />
  <meta name="twitter:site" content="@tmjbgc" />
  <meta
    name="twitter:image"
    content="{{ image or post.data.image or page.data.image or metadata.image }}"
  />
  <meta name="twitter:creator" content="@tmjbgc" />
  <title>{{ title or renderData.title or metadata.title }}</title>
  <script
    async
    src="https://identity.netlify.com/v1/netlify-identity-widget.js"
  ></script>
  <link
    href="/_includes/assets/css/style.css"
    rel="stylesheet"
    type="text/css"
  />

  <link
    href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Slab&display=swap"
    rel="stylesheet"
  />

  {% set js %} {% include "assets/js/inline.js" %} {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
</head>
