<section>
  {% for post in postslist | reverse %}
  <article class="mb-8 leading-relaxed mr-12 animateWhenVisible">
    <p class="font-semibold ">
      <time datetime="{{ post.date | machineDate }}">
        <small>{{ post.date | readableDate }}</small>
      </time>
    </p>
    <h3 class="text-2xl hover:text-red-400 leading-tight mb-2">
      <a href="{{ post.url | url }}">
        {% if post.data.title %}
        {{ post.data.title }}
        {% else %} Untitled {% endif %}
      </a>
    </h3>
    {% if post.data.summary %}
    <p class="mb-2">
      {{ post.data.summary }}
    </p>
    {% endif %} {% if post.data.tags %}
    <p class="mb-2">
      {% for tag in post.data.tags %} {%- if tag != "post" -%} {% set tagUrl
      %}/tags/{{ tag }}/{% endset %}
      <a
        href="{{ tagUrl | url }}"
        rel="tag"
        class="text-gray-700 hover:text-gray-900"
        ><small>{{ tag }}</small></a
      >
      {%- endif -%} {% endfor %}
    </p>
    {% endif %}
    <hr class="border-b-2 border-gray-900 w-48 mb-4" />
  </article>
  {% endfor %}
</section>
