---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---

<div class="container max-w-screen-lg mx-auto">
  <div class="bg-gray-200 -mt-8 p-8 container max-w-screen-md ">
    <h1 class="text-4xl mb-4">{{ title }}</h1>
    {{ layoutContent | safe }}

    {% set postslist = collections.post %} {% include "components/postslist.njk"
    %}
  </div>
</div>
