---
layout: layouts/base.njk
section: home
---

<div class="min-h-screen flex md:flex-row flex-wrap justify-start w-full mb-6">
  <div class="p-8 w-full md:w-1/2 animateWhenVisible">
    <div class="markdown ">
      {{ content | safe }}
    </div>
    {% Button { href: "/#contact", text: "CONTACT US", color: "yellow-400" } %}
    {% Button { href: "/#mutual-aid", text: "WHAT IS MUTUAL AID?", color:
    "gray-400" } %}
  </div>
  <img
    src="/static/img/hello-i-m-nik-KTEP8WKabgU-unsplash.jpg"
    class="md:m-6 md:mt-48 md:-mb-16 md:w-2/5 object-cover md:rounded-lg shadow flex-grow"
  />
</div>
{% for item in collections.homePageBanners %}
<div
  class="flex flex-row{% if item.data.imagePlacement === 'right' %}-reverse{% endif %} flex-wrap justify-start w-full "
>
  <img
    data-src="{{ item.data.image }}"
    alt=""
    class="md:m-6 md:mb-48 md:-mt-16 md:w-2/5 object-cover md:rounded-lg shadow lazy-load flex-grow"
  />
  <div
    id="mutual-aid"
    class="flex flex-col justify-center p-8 w-full md:w-1/2 markdown animateWhenVisible"
  >
    <h2>{{ item.data.title }}</h2>
    {{ item.templateContent | safe }}
  </div>
</div>
{% endfor %}
<div
  class="w-full text-2xl text-center text-gray-200 hero-image min-h-screen flex flex-col justify-center items-center p-8"
>
  <div class="container max-w-screen-md" id="donate">
    <h2 class="text-4xl leading-none font-bold mb-4">
      {{ callToAction.header }}
    </h2>
    <p class="text-lg">{{ callToAction.content | safe }}</p>
    {% Button { href: "https://cash.app/$wilmorepantry", text: "DONATE", color:
    "yellow-400" }%}
  </div>
</div>
<div
  class="flex flex-row{% if item.data.imagePlacement === 'right' %}-reverse{% endif %} flex-wrap justify-start w-full "
>
  <div
    class="flex flex-col justify-center p-8 w-full md:w-1/2 markdown animateWhenVisible"
    id="contact"
  >
    <h2>Contact</h2>

    <p>
      Text or call us to get in touch. Or reach out by email or on Twitter.
    </p>

    {%- SocialIcon "phone", "tel:+15623540638" -%}(562) 364-0638{%-
    endSocialIcon -%}

    <!--  -->

    {%- SocialIcon "twitter", "https://twitter.com/wilmorepantry"
    -%}@wilmorepantry{%- endSocialIcon -%}

    <!--  -->

    {%- SocialIcon "envelope",
    "mailto:wilmore_pantry@riseup.net?subject=Reaching%20out!"
    -%}wilmore_pantry@riseup.net{%- endSocialIcon -%}

    <p>
      Or, optionally, you can submit email through the form below. Please note
      that each submission is passed through a spam filter and if flagged, will
      display a CAPTCHA challenge to the user.
    </p>

    {% include "components/form.njk" %}
  </div>
  <img
    data-src="/static/img/jason-jarrach-g5xOe8ToOLI-unsplash.jpg"
    alt=""
    class="md:m-6 md:w-2/5 object-cover md:rounded-lg shadow lazy-load flex-grow"
  />
</div>
