---
layout: layouts/base.njk
section: page
---

<div class="container max-w-screen-lg mx-auto">
  <div class="bg-gray-200 -mt-8 p-8 container max-w-screen-md markdown">
    <h1>{{ title }}</h1>

    {{ layoutContent | safe }}
  </div>
</div>
